@model List<CapaEntidad.ConsultaPacientesDTO>
@{
    ViewBag.Title = "Listado de Pacientes Registrados";
}

<h2>Listado de Pacientes Registrados</h2>
<p>Total pacientes encontrados: @Model.Count()</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Fecha Nacimiento</th>
            <th>Género</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.Nombre</td>
                <td>@paciente.Correo</td>
                <td>@paciente.Telefono</td>
                <td>@paciente.FechaNacimiento.ToShortDateString()</td>
                <td>@paciente.Genero</td>
                <td>@paciente.Direccion</td>
            </tr>
        }
    </tbody>
</table>