<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @*Scripts.Render("~/bundles/modernizr")*@
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container position-relative d-flex align-items-center justify-content-between">

            <a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.webp" alt=""> -->
                <h1 class="sitename">eSalud<span>Care</span></h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")" class="active">Inicio</a></li>
                    <li><a href="servicios.html">Departamentos</a></li>
                    <li><a href="doctores.html">Servicios</a></li>
                    <li><a href="abour.html">Doctores</a></li>
                    <li class="dropdown">
                        <a href="#"><span>More Pages</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="department-details.html">Departamentos</a></li>
                            <li><a href="service-details.html">Service</a></li>
                            <li><a href="appointment.html">Appointment</a></li>
                            <li><a href="testimonials.html">Testimonials</a></li>
                            <li><a href="faq.html">Frequently Asked Questions</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="terms.html">Terms</a></li>
                            <li><a href="privacy.html">Privacy</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#">Dropdown 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Deep Dropdown 1</a></li>
                                    <li><a href="#">Deep Dropdown 2</a></li>
                                    <li><a href="#">Deep Dropdown 3</a></li>
                                    <li><a href="#">Deep Dropdown 4</a></li>
                                    <li><a href="#">Deep Dropdown 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown 2</a></li>
                            <li><a href="#">Dropdown 3</a></li>
                            <li><a href="#">Dropdown 4</a></li>
                        </ul>
                    </li>-->
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <div id="user-section">
                <a id="btnLogin" class="btn-getstarted" href="@Url.Action("Index","Login")">Iniciar Sesión</a>
                //dinamico
                <div id="user-info" style="display:none;">
                    <span id="user-name" class="text-black fw-bold"></span>
                    <button id="btnLogout" class="btn-getstarted">Cerrar sesión</button>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        @RenderBody()

        <!-- Hero Section -->





    </main>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const token = localStorage.getItem("token");
            const nombre = localStorage.getItem("nombre");

            const loginBtn = document.getElementById("btnLogin");
            const userInfo = document.getElementById("user-info");
            const userName = document.getElementById("user-name");
            const logoutBtn = document.getElementById("btnLogout");

            if (token && nombre) {
                // Usuario autenticado
                loginBtn.style.display = "none";
                userInfo.style.display = "inline-block";
                userName.textContent = "👋 " + nombre;
            } else {
                // Usuario no autenticado
                loginBtn.style.display = "inline-block";
                userInfo.style.display = "none";
            }

            // Cerrar sesión
            logoutBtn?.addEventListener("click", function () {
                localStorage.removeItem("token");
                localStorage.removeItem("rol");
                localStorage.removeItem("nombre");
                window.location.href = "/Home/Index";
            });
        });
    </script>
    @*RenderBody()
        <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("test", "test", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/complemento")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>
